version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    ports:
      - 5432:5432
    volumes:
      - pg_data:/var/lib/postgresql/data

  kittygram_backend:
    image: nikitazerobit/kittygram_backend
    container_name: kittygram_backend
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - static:/backend_static
      - media:/app/media

  kittygram_frontend:
    container_name: kittygram_frontend
    env_file: .env
    image: nikitazerobit/kittygram_frontend
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static

  kittygram_gateway:
    container_name: kittygram_gateway
    image: nikitazerobit/kittygram_gateway
    restart: always
    ports:
      - 8000:80
    volumes:
      - static:/static
      - media:/app/media/
