version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  kittygram_backend:
    build: ./backend/
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - static:/app
      - media:/app/media

  kittygram_frontend:
    env_file: .env
    build: ./frontend/
    volumes:
      - static:/app/build

  kittygram_gateway:
    build:
      context: ./nginx
    container_name: kittygram_gateway
    restart: always
    ports:
      - 80:80
    depends_on:
      - kittygram_backend
      - kittygram_frontend
    volumes:
      - static:/static
      - media:/media
