version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  kittygram_backend:
    image: nikitazerobit/kittygram_backend
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - static:/static/
      - media:/media/

  kittygram_frontend:
    env_file: .env
    image: nikitazerobit/kittygram_frontend
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static

  kittygram_gateway:
    image: nikitazerobit/kittygram_gateway
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static:/static
      - media:/app/media/
    depends_on:
      - kittygram_backend
