name: Terraform

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Select the Terraform action'
        required: true
        type: choice
        default: 'plan'
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        run: terraform init -backend-config="access_key=$ACCESS_KEY" -backend-config="secret_key=$SECRET_KEY" -reconfigure
        env:
          ACCESS_KEY: ${{ secrets.ACCESS_KEY }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          yc_token: ${{ secrets.YC_TOKEN }}
          yc_cloud_id: ${{ secrets.YC_CLOUD_ID }}
          yc_folder_id: ${{ secrets.YC_FOLDER_ID }}
          ssh_pub_key: ${{ secrets.SSH_KEY }}

      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'plan' }}
        run: terraform plan
        env:
          yc_token: ${{ secrets.YC_TOKEN }}
          yc_cloud_id: ${{ secrets.YC_CLOUD_ID }}
          yc_folder_id: ${{ secrets.YC_FOLDER_ID }}
          TF_VAR_ssh_pub_key: ${{ secrets.SSH_KEY }}

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        run: terraform apply -auto-approve
        env:
          yc_token: ${{ secrets.YC_TOKEN }}
          yc_cloud_id: ${{ secrets.YC_CLOUD_ID }}
          yc_folder_id: ${{ secrets.YC_FOLDER_ID }}
          TF_VAR_ssh_pub_key: ${{ secrets.SSH_KEY }}

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: terraform destroy -auto-approve
        env:
          ACCESS_KEY: ${{ secrets.ACCESS_KEY }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          yc_token: ${{ secrets.YC_TOKEN }}
          yc_cloud_id: ${{ secrets.YC_CLOUD_ID }}
          yc_folder_id: ${{ secrets.YC_FOLDER_ID }}
          TF_VAR_ssh_pub_key: ${{ secrets.SSH_KEY }}

      